/* CSS Document */
html {
	height: 100%;
	}
body {
	margin-top: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
	background: rgb(238,238,238); 
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); 
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); 
	height: 100%;
}

@media screen and (max-width: 1080px) {
#frame-api {
	border: 1px solid #eee;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	min-width: 520px;
	background: rgb(255,214,94); 
	background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
	border-radius: 15px;
	color: white;
	}
body {
	font-size:36px
	}
.buttonSubmit {
	padding: 5px 5px 5px 5px;
	background-color: #4ba0be;
	border: 2px solid #4ba0be;
	color: white;
	font-size: 36px;
	}	
.buttonClear {
	padding: 5px 5px 5px 5px;
	background-color: #f5c600;
	border: 2px solid #4ba0be;
	color: white;
	font-size: 36px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	}
.searchUser {
	background: url(../img/twitterlogolarge.jpg) no-repeat scroll 7px 7px;
	padding: 5px 5px 5px 55px;
	background-color: #eee;
	border: 2px solid #4ba0be;
	color: #4ba0be;
	font-size: 36px;
	width: 180px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	}
}

@media screen and (min-width: 1080px) {
#frame-api {
	border: 1px solid #eee;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	min-width: 520px;
	border-radius: 15px;
	background: rgb(255,214,94); 
	background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); 
	background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
	color: white;
	
	}
	
body {
	font-size:24px
	}
.buttonSubmit {
	padding: 5px 5px 5px 5px;
	background-color: #4ba0be;
	border: 2px solid #4ba0be;
	color: white;
	font-size: 18px;
	}	
.buttonClear {
	padding: 5px 5px 5px 5px;
	background-color: #f5c600;
	border: 2px solid #4ba0be;
	color: white;
	font-size: 18px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	}
.searchUser {
	background: url(../img/twitterlogo.jpg) no-repeat scroll 7px 7px;
	padding: 5px 5px 5px 35px;
	background-color: #eee;
	border: 2px solid #4ba0be;
	color: #4ba0be;
	font-size: 18px;
	width: 180px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	}	
}
#frame-tweet {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 20px;
	}
	
.imglogo {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	}
	
.imglogo img {
	width:100%;
	}
		
#formFrame {
	background-color: #4ba0be;
	}	
.buttonSubmit:hover {
	cursor:pointer;
	transition: all 0.3s ease 0s;
	background: #0088b2;
	}
.buttonClear:hover {
	cursor:pointer;
	transition: all 0.3s ease 0s;
	background: #e7bd00;
	}	
	

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}


